
  :root {
    --font-type: Futura,  Arial, sans-serif;
    --blue: #2149fe;
    --white: #fff;
  }
  body {
    margin: 2em;
  }


.navbar {
    font-family: var(--font-type);
    font-size: 20px;
    line-height: 34px;
  }
  .navbar-logo {
    width: 12rem;
    margin-top: -1rem;
  }
  
  .header-nav {
    color: black;
    margin-left: 2.5rem;
  }

  .login-btn {
    background-color: #2149fe;
    color: #fff;
    font-family: var(--font-type);
    font-size: 12px;
    padding-left: 1rem;
    width: 10rem; /*max or min width?*/
    margin-left: 1rem;
    border-color: #2149fe;
  }
  
  .login-btn > img {
    margin-right: 0.3rem;
  }

  .language-seperator {
    color: #CDCDCD;
    font-size: x-large;
    margin-top: 0.2rem;
  }

  .background-image{
    background-image: url('image/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 95vw;
    height: 100vh;
  }

  .same-day  {
    padding-top: 3rem;
    padding-left: 3rem;

  }

  .volunteer  {
    padding-left: 3rem;
    color: white;
    font-size: 80px;
    margin-bottom: 2rem;
  }

  .volunteer-info  {
    padding-left: 3rem;
    font-size: 32px;
  }

 .start-button {
    color: var(--white);
    position: absolute;
    height: 7%;
    width: 10%;
    border-radius: 1rem;
    border: none;
    left: 6rem;
    bottom: 12rem;
    background-color: var(--blue);
  }

  .store {
    position: absolute;
    height: 6%;
    width: 9%;
    border: none;
    bottom: 4rem;
    background-color: transparent;
  }
 .app-store {
    left: 6rem;
  }
  .play-store {
    left: 19rem;
  }
   .huawei-gallery {
    left: 32rem;
  }