
  :root {
    --font-type: Futura,  Arial, sans-serif;
    --blue: #2149fe;
    --white: #fff;
    --green: #8cc27b;
    --light-grey: #f4f4f4;
  }
  body {
    margin: 2em;
  }
  h2 {
    color: var(--blue);
    font-size: 4rem;
    font-weight: 700;
  }

.navbar {
    font-family: var(--font-type);
    font-size: 20px;
    line-height: 34px;
  }
  .navbar-logo {
    width: 12rem;
    margin-top: -1rem;
  }
  
  .header-nav {
    color: black;
    margin-left: 2.5rem;
  }

  .login-btn {
    background-color: #2149fe;
    color: #fff;
    font-family: var(--font-type);
    font-size: 12px;
    padding-left: 1rem;
    width: 10rem; /*max or min width?*/
    margin-left: 1rem;
    border-color: #2149fe;
  }
  
  .login-btn > img {
    margin-right: 0.3rem;
  }

  .language-seperator {
    color: #CDCDCD;
    font-size: x-large;
    margin-top: 0.2rem;
  }

  .home-page-container{
    background-size: contain;
    width: 100%;
    
    margin-bottom:23rem;
    margin-left:0;
    margin-right:0;
    border-radius: 16px;
  }

  .background-image{
    background-image: url('image/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 95vw;
    height: 100vh;
  }

  .same-day  {
    padding-top: 3rem;
    padding-left: 3rem;

  }

  .volunteer  {
    padding-left: 3rem;
    color: white;
    font-size: 80px;
    margin-bottom: 2rem;
  }

  .volunteer-info  {
    padding-left: 3rem;
    font-size: 32px;
  }
 
  .start-button {
    margin-left:4rem;
    margin-top:4rem;
  }

 .start-button > button{
    color: var(--white);
    position: absolute;
    height: 7%;
    width: 10%;
    border-radius: 1rem;
    border: none;
    left: 6rem;
    bottom: 12rem;
    background-color: var(--blue);
  }

  .stores {
    margin-left:4rem;
    margin-top:8rem;
  }

  .store {
    position: absolute;
    height: 6%;
    width: 9%;
    border: none;
    bottom: 4rem;
    background-color: transparent;
  }
 .app-store {
    left: 6rem;
  }
  .play-store {
    left: 19rem;
  }
   .huawei-gallery {
    left: 32rem;
  }

  .features-container {
    border: #fff;
    margin-bottom: 6rem;
    line-height: 32px;
    border-radius: 0.4rem;
    background-color: var(--white);
    padding-bottom: 6rem;
    width: 80%;
  }
  .features-title {
    display: flex;
    padding-bottom: 2rem;
    justify-content: flex-start;
    margin-top:-20rem;
  }
  .features-title > img {
    height: 3rem;
  }

  .menu-background {
    background-color: var(--light-grey);
    border-radius: 1rem;
  }
  .green-vertical {
    border-radius: 1rem;
    margin-top: 2rem;
    margin-right:2rem;
    height: 4rem;
    border:var(--green) solid 10px;
  }
  .feature > img {
    margin-top: 1rem;
    width: 40%;
  }

  .blue-horizontal{
    margin-top:2.2rem;
    border-top:0.45rem blue solid;
    width: 25%;
  }
  
  .features-container > .features-container-spec{
    margin-top:-10rem;
  }


/* Second Container */
  .second-feature-container {
    margin-bottom: 6rem;
    width: 80%;
    line-height: 36px;
    border-radius: 0.4rem;
    background-color: var(--white);
  }

  .features-second-row {
    margin:2rem;
    width: 80%;
  } 
  .features-second-row > img {
    margin-top: 1rem;
    width: 40%;
  }

  .features-second-row > h4 {
    margin-top: 3rem;
  }
  .features-second-row > p {
    margin-top: 1.2rem;
  }


/* workflow Container */
  .workflow-title {
    display:flex;
    margin-left:9rem;
    margin-bottom: 4rem;
  } 
   
  .workflow-image {
    margin-bottom: 4rem;
  }
  
  .workflow-image > img {
    width: 80%;
    padding-left: 6rem;
  }
  
  .workflow-green-vertical{
    border-radius:4px;
    margin-right:16px;
    border:8px var(--green) solid;
    height: 48px;
    margin-top: 1rem;
  }

  .border-green-vertical{
    border-left: 6px #53b453 solid;
  }